@font-face {
    font-family: 'HeaderFont';
    src: url('../fonts/pressstart2p-webfont.eot');
    src: url('../fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/pressstart2p-webfont.woff') format('woff'),
	   url('../fonts/pressstart2p-webfont.ttf') format('truetype'),
	   url('../fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;	
}

body {
    background-color: #606060;
    color: #FFFFFF;
    font-family: HeaderFont, helvetica, sans-serif;
}

header, section {
    width: 968px;
    margin: auto;
}

.wide header, .wide section {
    width: 1024;
}

header {
    padding-top: 16px;
}

h1, h2, h3, h4, header time {
    font-family : 'HeaderFont', helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

section.notes {
    padding-top: 48px;
    background-image: url('../images/red_green_rule.png');
    background-position: 0 16px;
    background-repeat: repeat-x;
}

.previously-on {
    padding-bottom: 16px;
}

.about-area {
    color: #606060;
    background-color: #FFFFFF;
    font-family: Geneva, Arial, sans-serif;
    padding: 16px;
    border: 2px solid black;
}

.about-box {
    font-size: 12px;
}

.nav-area {
    padding-top: 10px;
    text-transform: uppercase;
}

.nav-area a {
    color: #FFFFFF;
}